!!! 5

%head
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "initial-scale=1.0" }
  %title= page_title("My Site")
  = favicon_tag "favicon.ico"
  = stylesheet_link_tag "application"

%body
  = yield
  = javascript_include_tag "application"
